html,
body,
section,
ul,
li,
p,
h1,
h2 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}


.main-wrapper {
    width: 100%;
    background-color:  #ffffcc;
}

.sorting-inner-container {
    width: 100%;
    padding: 25px 0;
    border-bottom: 5px solid #ae8e61;
}

.sorting-type-group {
    display: flex;
    justify-content: space-around;

}

.sorting-group {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.sorting-type  {
    font-size: 16px;
    margin-right: 10px;
    border-bottom: 3px dotted #90b2d0;
    cursor: default;
}

.sorting-arrows a {
    padding: 0 5px;
    color: black;
}

.sorting-arrows a:active,
.sorting-arrows a:hover {
    color: #cce6ff;
}

.characters-title {
    text-align: center;
    margin: 20px 0;
    font-size: 60px;
}

.characters-list {
    width: 100%;
}

.characters-list-item {
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin: 50px;
    border: 5px solid #cce6ff;
    font-size: 16px;
    text-align: center;
}

.characters-picture {
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
}

.characters-name,
.characters-species,
.characters-location,
.characters-created,
.characters-episode-length,
.characters-episodes-list {
    margin-bottom: 20px;
    cursor: default;
}

.characters-created,
.characters-episode-length {
    font-weight: 600;
}

.characters-episodes-list {
    cursor: pointer;
}

.fa-trash-alt {
    font-size: 25px;
}

.character-remove,
.reset {
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
}

.button-wrapper {
    text-align: center;
}

.fa-redo-alt {
    font-size: 50px;
    margin-bottom: 30px;
}

.fa-trash-alt:active,
.fa-redo-alt:active {
    color: #99bbff;
}